.scientificActivity {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px #9FAECD dashed;

    .direction{
        margin-top: 12px;
        display: flex;
        gap: 83px;

        .label {
            color: #545454;
            font-size: 14px;
        }
        
        .value {
            color: #222222;
            font-weight: 600;
            font-size: 14px;
            white-space: nowrap;
        }
    }

    .scoresContainer{
        display: flex;
        gap: 12px;
        margin-top: 24px;

        .scoresPanel1{
            flex: 1.2;
        }
        .scoresPanel2{
            flex: 0.8;
        }

        .scoresPanel1, .scoresPanel2{
            display: flex;
            justify-content: space-between;
            padding: 12px;
            background-color: #E7F2FF;
            border-radius: 10px;
            font-size: 14px;

            .label{
                color: #222222;
            }
            .value{
                font-size: 16px;
                font-weight: 600;
                color: #1E4391;
            }
        }
    }
}

.buttonPanel{
    margin-top: 16px;
    padding: 24px 32px !important;
    position: sticky;
    bottom: 0;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);


    .buttonContainer{
        display: flex;
        justify-content: space-between;
    }
}