.modalTitle{
    color: #1E4391;
}

.modalDescription{
    margin-top: 32px;
}

.modalButtons{
    margin-top: 42px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.area{
    margin-top: 32px;

    textarea{
        resize: none;
    }
}