@import './styles/const-fonts.less';
@import './styles/const-colors.less';

.u-pagination {
    padding: 16px 32px;
    margin-top: 16px;
}

.button-icon-check {
    color: #3BA68C;
    &:hover {
        color: #3BA68C;
        border: 1px solid #3BA68C;
    }
}