.container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.scientificActivity{
    margin-top: 16px;

    .select{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .buttonAdd{
        margin-bottom: 10px;
    }
    .publishInfo{
        font-size: 11px;
        background-color: #E7F2FF;
        border-radius: 10px;
        padding: 8px 16px
    }
}
.essay{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 23px;

    .pdfInfo{
        margin-left: 5px;
        font-weight: 600;
        color: #1E4391;
        text-decoration: none;

        &:hover{
            text-decoration:underline;
        }
    }
}

.agreements{
    margin-top: 16px;

    .checkboxSecret{
        display: flex;
        align-items: start;
    }
}

.buttonPanel{
    margin-top: 16px;
    padding: 24px 32px;
    position: sticky;
    bottom: 0;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);


    .buttonContainer{
        display: flex;
        justify-content: space-between;
    }
}

.modalSendTitle{
    color: #1E4391;
}

.modalSendDescription{
    margin-top: 32px;
}

.modalSendButtons{
    margin-top: 42px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

b{
    font-weight: 600;
}