.title{
    color: #1E4391;
    margin-bottom: 32px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .flexContainer{
        display: flex;
        gap: 20px;
    
        div{
            flex: 1
        }
    }

    .buttonContainer{
        display: flex;
        gap: 12px;
        justify-content: flex-end;
        margin-top: 32px;
    }

    .error{
        color: #ef302b;
        font-weight: 400;
        font-size: 12px;
    }
}