.info{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 24px;
    
    .filter{
        flex: 1;
    }
    p{
        color: #222222;
    }

    .totalRecord{
        color: #1E4391;
        font-weight: 600;
    }
}