.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .status{
        padding: 5px 12px;
        font-size: 12px;
        font-weight: 600;
        color: #222222;
    }
}

.main{
    margin-top: 24px;

    .nameUser{
        margin-bottom: 16px;
    }

    .nameUser, .additionalInformation{
        display: flex;
        gap: 12px;
        
        
        div {
            flex: 1
        }
    }

    .additionalInformation{
        margin-top: 16px;
    }
}

