.container{
    margin-top: 20px;
    width: fit-content;
}

.scientificActivity{
    margin-top: 16px;

    .select{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .buttonAdd{
        margin-bottom: 24px;
    }
}
.essay{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.buttonPanel{
    margin-top: 16px;
    padding: 24px 32px;
    position: sticky;
    bottom: 0;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);


    .buttonContainer{
        display: flex;
        justify-content: space-between;
    }
}