
.filterContainerStyle {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    > *:nth-child(1) {
        flex: 321;
        min-width: 240px;
    }

    > *:nth-child(2) {
        flex: 240;
        min-width: 240px;
    }

    > *:nth-child(3) {
        flex: 300;
        min-width: 240px;
    }

    > *:nth-child(4) {
        flex: 227;
        max-width: 227px;
        margin-left: auto;
    }
}

.moderationCardContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.preloader {
    margin: 200px auto;
}