.essayContainer{
    margin-top: 24px;

    .essay{
        margin-top: 24px;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .scoresInfoContainer{
        display: flex;
        gap: 16px;

        .info{
            padding: 12px;
            border-radius: 10px;
            font-size: 12px;
            background-color: #F6F6F6;
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-width: 284px;

            b{
                font-weight: 500;
            }
        }

        .score{
            padding: 12px;
            border-radius: 10px;
            font-size: 14px;
            background-color: #EDF7EB;
            max-width: 224px;

            display: flex;
            flex-direction: column;
            gap: 5px;

            .value{
                font-weight: 600;
            }

        }
    }
}