@import '~/styles/const-colors.less';

.instructionStyle {
  padding: 15px 60px 17px 32px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  background-color: @main-empty;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9' y='10.8591' width='2' height='5.70417' rx='1' fill='%23748AB9'/%3E%3Ccircle cx='10' cy='8.59167' r='1' fill='%23748AB9'/%3E%3Crect x='2' y='2.59167' width='16' height='19' rx='3' stroke='%23748AB9' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-position: right 32px top 11.5px;
  background-repeat: no-repeat;
  color: @blue-60;
  transition-property: color, background-color, border-color, background-image;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
  border: 1px solid transparent;
  &:hover {
    color: @main-primary;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9' y='10.8591' width='2' height='5.70417' rx='1' fill='%231E4391'/%3E%3Ccircle cx='10' cy='8.59167' r='1' fill='%231E4391'/%3E%3Crect x='2' y='2.59167' width='16' height='19' rx='3' stroke='%231E4391' stroke-width='2'/%3E%3C/svg%3E%0A");
    border: 1px solid @main-primary;
  }
}
