.footerStyles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
}

.columnStyles {
    max-width: 290px;
}

.columnCenterStyles {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footerContactStyles {
    font-size: 12px;
    font-weight: 500;
} 